<!DOCTYPE html>
<html ng-app="bookApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>


    <script type ="text/javascript" src="/scripts/app.js"></script>
    <script type ="text/javascript" src="controllers/BookIndexController.js"></script>



    <title> Lezz get sum Books with Angular!!</title>
  </head>

  <body>
    <div class="container" ng-controller="BooksIndexController as BooksIndexCtrl"></div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <input type="text" class="form-control" placeholder="New Book title" ng-model="booksIndexCtrl.newBook.title">
          <input type="text" class="form-control" placeholder="New book author" ng-model="booksIndexCtrl.newBook.author">

          <p><b>booksIndexCtrl.newBook:</b> {{booksIndexCtrl.newBook}}</p>
          <input type="text" class="form-control" ng-model="searchBooks" placeholder="Search Books">
          <div ng-repeat="books in booksIndexCtrl.books | orderBy: 'title' | filter: searchBooks" class="row">


        </div>
      </div>
    </div>
  </body>
</html>
